<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/layout1}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div layout:fragment="content">


	<script th:inline="javascript" th:src="@{'/js/defaultJS.js'}"></script>

	<script th:inline="javascript">
		$(document).ready(() => {
			console.log("hello world");
		});
	</script>
</div>	

</body>

</html>